
* {
    padding: 5px;
    margin: 5px;
    box-sizing: border-box;
    color: #000;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.58);
  }
  
  .navbar>header {
   list-style: none;
      text-align: center;
      padding: 2px;
      margin: 0;
      position: flex;
      top: 0;
      width: 100%;
      border-radius: 5px;
      opacity: 0.9;
      margin-left: 0px;
      
  }
  
  .navbar>header {
    text-decoration: none;
    user-select: none;
    font-weight: bold;
    float: left;
    font-size: 35px;
    padding: 10px;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
  }
  
  .nav-menu li {
      font-size: 1.2em;
      line-height: 40px;
      height: 40px;
      border: none;
      font-family: impact;
      color: #121212; 
    }
  
  .nav-menu a {
      text-decoration: none;
      display: block;
      transition: .5s background-color;
      border-radius: 5px;
      margin-right: 0px;
    }
  .nav-menu a:hover {
  color: #000;
    }
    
  .nav-menu li {
  width: 140px;
  border-bottom: none;
  height: 50px;
  line-height: 50px;
  font-size: 1em;
  display: inline-block;
  margin-right: 0px;
  }
  
  
  .navbar>:hover span:nth-child(1) {
    margin-right: 20px;
  }
  
  .navbar>header:hover span:nth-child(1) ::after{
  content: "'"
  }
  
  .navbar>header:hover span {
    color: hsl(0, 0%, 100%);
    text-shadow: 0 0 20px hsl(0, 0%, 100%), 0 0 40px hsl(0,0%,100%),
    0 0 80px hsl(0, 0%, 100%);
  }
  
  .navbar>header span {
    transition: 0.9s ease-out;
  }
  
  











