
#navbar {
    position: fixed;
    top: 5%;
    width: 100%;
    font-family: 'Oleo Script Swash Caps', cursive;

}

.header {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    z-index: 10;
    float: left;
    margin-top: 0px;
    color: black;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.58);
}

.header-bg {
    background-color: rgba(0, 0, 0, .85);
    transition: .5s;
    
}

.nav-menu {
    display: inline-flex;
    position: fixed;
    right: 5%;
}

.nav-menu li {
    padding: 0 1rem;
    text-decoration: none;
    display: inline;
    float: right;
}

.nav-menu a {
    font-size: 1.4rem;
    font-weight: 500;
    color: black;
    text-shadow: 2px 2px rgba(255, 0, 0, 0.58);

}

.cheese {
    display: block;    
}

@media screen and (max-width: 1200px;) {
    .cheese {
        display: block;
    }
        .nav-menu {
            position: absolute;
            flex-direction: column;
            justify-content: center;
            align-items: baseline;
            top: 0;
            left: -100%;
            text-align: center;
            width: 100%;
            height: 100vh;
            transition: 0.3s;
            z-index: -1;
            background-color: rgba(0, 0, 0, .8);
        }
        .nav-menu.active {
            left: 0;
        }

        .nav-menu li {
            padding: 1rem 0;
        }

        .nav-menu a {
            font-size: 2rem;
        }
}












